# Network Configuration (84532 for Base Sepolia, 8453 for Base Mainnet)
NEXT_PUBLIC_CHAIN_ID=84532
NEXT_PUBLIC_BASE_RPC=https://sepolia.base.org

# AjoClub Contract Address
NEXT_PUBLIC_AJO_CLUB_ADDRESS=0x872F30f5b2FacC992ebaC9392Ef64020d5b774b3

# Stablecoin Address (Base Sepolia USDC: 0x036CbD53842c5426634e7929541eC2318f3dCF7e, Base Mainnet USDC: 0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913)
NEXT_PUBLIC_USDC_ADDRESS=0x036CbD53842c5426634e7929541eC2318f3dCF7e

# Coinbase Developer Platform (CDP) & OnchainKit API Keys
NEXT_PUBLIC_CDP_API_KEY=
NEXT_PUBLIC_ONCHAINKIT_API_KEY=
